<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>评论列表</title>
  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="./js/template-web.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="common_title">
      评论列表
    </div>
    <div class="container-fluid common_con">

      <table class="table table-striped table-bordered table-hover mp20">
        <thead>
          <tr>

            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          <!-- 评论列表 模板引擎 -->
        </tbody>
      </table>
      <div class="row text-center">
        <ul class="pagination pagination-sm">
          <li class="page-item first disabled"><a href="#" class="page-link">首页</a></li>
          <li class="page-item prev disabled"><a href="#" class="page-link">上一页</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">6</a></li>
          <li class="page-item"><a href="#" class="page-link">7</a></li>
          <li class="page-item next"><a href="#" class="page-link">下一页</a></li>
          <li class="page-item last"><a href="#" class="page-link">尾页</a></li>
        </ul>
      </div>

    </div>
  </div>

  <script>
    // 设置左侧菜单
    $('#release_btn').click(function () {
      window.parent.setMenu(0, 0);
    })
  </script>

  <!-- 文章评论 模板引擎 -->
  <script id="pinglunlist" type="text/html">
    {{each arr}}
    <tr class="danger">
    {{if $value.state=='待审核'}}
    {{else}}
    <tr>
    {{/if}}
      <td>{{$value.author}}</td>
      <td>{{$value.content}}</td>
      <td>{{$value.articleId|selectTitle}}</td>
      <td>{{$value.date}}{{$value.time}}</td>
      <td>{{$value.state}}</td>
      <td class="text-center">
        {{if $value.state=='待审核'}}
        <a href="javascript:;" class="btn btn-info btn-xs" data-id="{{$value.id}}">批准</a>
        <a href="javascript:;" class="btn btn-danger btn-xs" data-id="{{$value.id}}">删除</a>
        {{else if $value.state=='已通过'}}
        <a href="javascript:;" class="btn btn-warning btn-xs" data-id="{{$value.id}}">拒绝</a>
        <a href="javascript:;" class="btn btn-danger btn-xs" data-id="{{$value.id}}">删除</a>
        {{else if $value.state=='已拒绝'}}
        <a href="javascript:;" class="btn btn-danger btn-xs" data-id="{{$value.id}}">删除</a>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </script>

  <!-- 文章评论获取 -->
  <script>
    var baseUrl = 'http://localhost:8080';
    $.get(baseUrl + '/admin/comment/comment_search', function (res) {
      var str = template('pinglunlist', {
        arr: res.data.data,
      });
      $('tbody').html(str);
    }, 'json');
  </script>

  <!-- 根据文章id获取文章标题 -->
  <script>
    function selectTitle(n) {
      var title;
      $.ajax({
        type: 'get',
        url: baseUrl + '/admin/article/search',
        dataType: 'json',
        data: {
          id: n,
        },
        async: false,
        success: function (res) {
          title = res.data.title
        },
      })
      return title;
    }
  </script>

  <!-- 删除列表功能 -->
  <script>
    $('body').on('click', '.btn-danger', function (e) {
      e.preventDefault();
      var deleteId = $(this).attr('data-id');
      var that = $(this);
      $.post(baseUrl + '/admin/comment/delete', {
        id: deleteId
      }, function (res) {
        if (res.code === 200) {
          that.parents('tr').remove();
          location.reload();
        }
        alert(res.msg);
      });
    })
  </script>

  <!-- 批准功能实现 -->
  <script>
    $('body').on('click', '.btn-info', function (e) {
      e.preventDefault();
      var pizhunId = $(this).attr('data-id');
      var that = $(this);
      $.post(baseUrl + '/admin/comment/pass', {
        id: pizhunId
      }, function (res) {
        if (res.code === 200) {
          alert(res.msg);
          location.reload();
        }else{
          alert(res.msg);
        }
      });
    })
  </script>

  <!-- 拒绝功能实现 -->
  <script>
      $('body').on('click', '.btn-warning', function (e) {
        e.preventDefault();
        var jujueId = $(this).attr('data-id');
        var that = $(this);
        $.post(baseUrl + '/admin/comment/reject', {
          id: jujueId
        }, function (res) {
          if (res.code === 200) {
            alert(res.msg);
            location.reload();
          }else{
            alert(res.msg);
          }
        });
      })
    </script>



</body>

</html>